@include b('contact') {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
    @include e('title') {
        font-size: $font-size-huge;
        font-weight: 700;
        padding-bottom: $pad-quad*2;
        text-align: center;
    }

    @include e('panel') {
        margin: $pad-triple $pad;
    }

    @include e('content') {
        background-color: white;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        //min-height: 400px;
        //min-width: 448px;
    }

    @include e('form-row') {
        display: flex;
        padding: 0 $pad;
    }

    @include e('button-row') {
        display: flex;
        padding: 0 $pad-double $pad $pad-double;
        justify-content: flex-end;
    }

    @include e('input-wrapper') {
        display: flex;
        flex-grow: 1;
        padding: $pad;
        flex-direction: column;

        @include m('error') {
            //padding-bottom: 0px!important;

            label {
                color: $palette-primary!important;
            }

            input {
                color: $palette-primary!important;
                border-bottom: 2px solid $palette-primary!important;
            }

            .contact__input-error {
                //display: block!important;
                visibility: visible!important;
            }

            .contact__input-underline::before {
                background:red!important; 
            }

            textarea {
                border: 2px solid $palette-primary!important;
            }

            textarea:focus {
                border: 2px solid red!important;
            }
        }
        
        label {
           font-size: $font-size-small-2;
           color: $color-text-light;
           font-weight: 600;
        }

        input {
            border: none;
            width: 100%;
            border-bottom: 2px solid $color-text-lighter;
            color: $color-text-light;
            
        }

        input:focus {
            outline: none!important;
        }

        textarea {
            border: none;
            width: 100%;
            //margin-bottom: 10px;
            border: 2px solid $color-text-lighter;
            color: $color-text-light;
            resize: none;
            font-size: $font-size-small-2;
            padding: $pad;
        }

        textarea:focus {
            outline: none!important;
            border: 2px solid $color-text-light;
            
        }

        @include e('input-underline') {
            position:relative; 
            display:block;

            &::before {
                content:'';
                height:2px; 
                width:0;
                position:absolute;
                background:$color-text-light; 
                transition:0.2s ease all; 
                -moz-transition:0.2s ease all; 
                -webkit-transition:0.2s ease all;
                margin-top: -1px;
                left:0%;
            }
        }

        @include e('input-error') {
            font-size: $font-size-small;
            color: $palette-primary;
            //display: none;
            visibility: hidden;
        }
    }
}



input:focus ~ .contact__input-underline:before, input:focus ~ .contact__input-underline:after {
  width:100%;
}