/**
 * Application Colors
 * All Colors for application
 *
 */
$palette-primary: #DE1933; 
$palette-secondary: #07B551;
$palette-tertiary: #333333;

$color-text: #333333;
$color-text-light: #838282;
$color-text-lighter: #eee;

$heading-color: #E0E0E0;
$border-color: rgba(0, 0, 0, 0.1);

$white: white;
$back-grey: #F9F9F9;

/*
$color-text-link: ;
$color-text-link-hover: ;
$color-text-link-visited: ;
$color-text-link-active: ;
*/


/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

$font : "Nunito Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-secondary : "Montserrat", Georgia, Times, "Times New Roman", serif;

$font-size-smallest: 10px;  //625rem
$font-size-small : 12px; //0.75rem
$font-size-small-1 : 13px; //0.8175rem
$font-size-small-2 : 14px; //0.875rem
$font-size-med : 16px; //1rem
$font-size-med-2: 18px; //1.0625rem
$font-size-med-3: 21px; 
$font-size-large : 24px; //1.4375rem
$font-size-huge : 32px;
$font-size-huge-2 : 36px;
$font-size-xl: 40px;
$font-size-xxl: 84px;


/**
 * Spacing Defaults
 */  
 $pad : 8px;
 $pad-half : $pad/2;  //4px
 $pad-one-quarter: $pad/4;  //2px
 $pad-one-and-half : $pad*1.5;  //12px
 $pad-double : $pad*2;  //16px
 $pad-double-and-half : $pad*2.5;  //20px
 $pad-triple : $pad*3; // 24px
 $pad-quad :$pad*4;  //32px
 $pad-hexa: $pad*6; //48px
 $pad-septa: $pad*7; //56px
 $pad-octa: $pad*8; //64px
 $pad-nona: $pad*9; //72px
 $pad-deca: $pad*10; //80px
 $pad-dodeca: $pad*12; //96px


 /*------------------------------------*\
    #BORDERS
\*------------------------------------*/

/**
 * Border Width
 */
$border-xs: 1px;
$border-s: 1.5px;
$border-med: 2px;
$border-thick: 5px;

/**
 * Border Radius
 */
$border-radius: 2px;
$border-radius-big: 4px;