@import 'variables';
@import "../../node_modules/sass-bem/_bem";
@import '../../node_modules/sass-mq/mq';

body{
    font-family: $font;
    color: $color-text;
}

.container{
    width: 100%;
    height: 100vh;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-rows: 80px auto 120px;

    @include mq($from: mobile, $until: desktop) {
        grid-template-rows: 60px auto 120px;
    }
}
header{
    width: 100%;
    grid-row: 1/2;    
    // flex: 80px 0 0;    
}
footer{
    width: 100%;
    grid-row: 3/4;    
    background-color: $palette-tertiary;
    // flex: 120px 0 0;
}
main{
    width: 100%;
    grid-row: 2/3;    
    background-color: white;
    // flex: 200px 1 1;
}

@import 'buttons';
@import '../components/Header/header.scss';
@import '../components/SelectLanguage/language.scss';
@import 'contact';
@import 'loader'; 

