.header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    padding: 0 10%;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: $border-xs solid $border-color;
}

.header__brand{
    display: flex;      
    align-items: center;
    height: 100%;

    a{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-text-light;
        text-decoration: none;
        font-size: $font-size-large;
        font-weight: 700;
    }    
    a:visited{        
        color: $color-text-light;
    }    
    a:active{        
        color: $color-text-light;
    }
    a:hover{        
        color: $palette-primary;
    }
}

.header__menu{
    display: flex;      
    align-items: center;
    height: 100%;
}

.menu-item{
    height: 100%;    
    margin: 0 $pad-double;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after{
        content: '';
        width: 100%;
        height: 4px;
        background-color: $palette-primary;
        position: absolute;
        bottom: 0;
        display: none;
    }

    &:hover::after{
        display: block;
    }    

    &.is-active{
        &::after{
            display: block;
        }

        a{
            color: $palette-primary!important;
        }
    }

    a{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-text-light;
        text-decoration: none;
    }    
    a:visited{        
        color: $color-text-light;
    }    
    a:active{        
        color: $color-text-light;
    }
    a:hover{        
        color: $color-text-light;
    }
}

.menu-lang{
    height: 100%;    
    margin: 0 0 0 $pad-quad;
    display: flex;
    align-items: center;
    justify-content: center;
}

